/************menu, header************************/
*{
    margin:0;
    padding:0;
    
}


body {
    font:14px/1.3 Arial,sans-serif;
    
}
header {
    background-color:#262626;
    height:120px;   
    width:100%;
    padding:1px;
    
  
}

#DownHeader{
 
    background-color:#1f787e;
    height:5px;   
    width:100%;
    padding:1px;
    top:0;

}


.menuContainer {
    margin: 95px auto;
    width: 62em;
    z-index:-1;
    
    
    
}

#tittle{

	color: white;
  align:center;
  margin:0 auto;
  float:left;

}

#search{	
	width: 15.8em;
	height:0.5em;
	position:relative;
	float:right;		
}

/*******************************************************/

#texto9{
 font-family: Arial,Helvetica,sans-serif;
 font-size: 8pt;  
 color: white;
 margin: 0 auto;
}

footer{

width: 100%;
height: 3em;
background:#171717;
margin:0 auto;

}

#logo{
margin:1em;
top:-.7em;
float:left;
}

#slogan{
color:white;
float:left;
}

#cTitulo{
margin:0.5em auto;
width:26em;
}

#imageGif{
margin:0 auto;
width:1137px;
height:353px;
padding:10px;
font-family: Arial,Helvetica,sans-serif;
font-size: 14pt;  
}

#DownBanner{
    background-color:#1f787e;
    height:1px;   
    width:80%;
    padding:0.5px;
    margin-top: 15px;
    marign-bottom:15px;
    margin-left:125px;
}

#DownGif{
    background-color:#1f787e;
    height:1px;   
    width:80%;
    padding:0.5px;
    margin-top: 15px;
    margin-bottom:15px;
    margin-left:125px;
}

#TitleFoot{
color:white;
}

#Provider{
width: 100%;
height: 5em;
background:gray;
}

#ProviderText{
font-family: Arial,Helvetica,sans-serif;
font-size: 9pt;  
color: white;
margin-top:-1.1em;
margin-left:2em;
}

#Holophane{
margin-left:5em;
margin-top:-1.1em;
}

#Lithonia{
margin-top:-1.1em;
margin-left:5em;
}

#AEL{
margin-top:-1.1em;
margin-left:5em;
}

#Hydrel{
margin-top:-1.1em;
margin-left:5em;
}

#Killark{
margin-top:-1.1em;
margin-left:5em;
}

#prueba{
height:230px;
width:44%;
margin-bottom:4em;
margin-left:3em;
float:right;
margin-right:5em;
}

#PruebaTexto{
float: right;
margin-top: 5em;
font-family:Arial,Helvetica,sans-serif;
font-size:16pt;
}


#prueba2{
height:230px;
width:35%;
margin-bottom:4em;
margin-left:6em;
}

#PruebaTexto2{
float: right;
margin-top: 5em;
font-family:Arial,Helvetica,sans-serif;
font-size:16pt;
}

#DownImages{
    background-color:#1f787e;
    height:1px;   
    width:80%;
    padding:0.5px;
    margin-top: 15px;
    margin-bottom:15px;
    margin-left:125px;
}

#video{
width:640px; 
height:435px;
margin-left: 25em;
margin-bottom:3em;

}
/***************************Preguntas Frecuentes*******************/
	#contenedor{
		width: 64em;
		height:100%;
		margin: 0 auto;
		margin-top: 1.5em;
	background-color:#F2F2F2;
	
	}
	.preguntas
	{
		font-size:2.6em;
		FONT FACE="impact" SIZE=6 COLOR="red";
		float:left;
		font-style:oblique;
		font-weight:bold;
	}
		*{ font-family: sans-serif; margin: 0;}
		dl{ margin: 60px auto; width: 600px; }
		dt, dd{ padding: 20px; }
		dt{ background: #333333; color: white; border-bottom: 1px solid #141414; border-top: 1px solid #4E4E4E; cursor: pointer; }
		dd{ background: #F5F5F5; line-height: 1.6em; }
		dt.activo, dt:hover{ background: #424242; }

		dt:before{ content: "▸"; margin-right: 10px; }
		dt.activo:before{ content: "▾"; }
/*******************************************************************/
   
   
#PreguntasF{
Color:black;
Position:center;
}

/**********IMAGENES OVER****************/
.vista {
    width: 300px;
    height: 200px;
    
	
	margin-left:0;
	
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: absolute;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}
.vista .mascara, .vista .contenido {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.vista img {
    display: block;
    position: relative;
}
.vista h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: hsla(0,0%,0%,0.8);
    margin: 20px 0 0 0;
}
.vista p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}
.vista a.informacion {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}
.vista a.informacion:hover {
    box-shadow: 0 0 5px #000
}
/******************************************************************************/
/* Estilos para ejemplo 1 */
.vista img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.vista .mascara {
    opacity: 0;
    background-color: hsla(34,93%,45%,0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.vista h2 {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.vista p { 
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.vista a.informacion{
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.vista:hover img { 
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
} 
.vista:hover .mascara { 
    opacity: 1;
}
.vista:hover h2,
.vista:hover p,
.vista:hover a.informacion {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.vista:hover p {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.vista:hover a.informacion {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}