/************menu, header************************/
*{
    margin:0;
    padding:0;
    
}
body {
    font:14px/1.3 Arial,sans-serif;
    
}
header {

    background-color:#262626;
    height:55px;
    position:fixed;
    width:100%;
    padding:1px;
    top:0;
  
}

.menuContainer {
    margin: 95px auto;
    width: 62em;
    z-index:-1;
    
    
}

#titulo{

	color: white;
  align:center;
  margin:0 auto;
  float:left;

}

/*******************************************************/

#texto9{
 font-family: Arial,Helvetica,sans-serif;
 font-size: 8pt;  
 color: white;
 margin: 0 auto;
}

footer{
position: fixed;
bottom:0;
width: 100%;
height: 3em;
background:#171717;

}

#logo{
margin:1em;
top:-.7em;
position:fixed;
float:right;
}

#slogan{
color:white;
float:left;
}

#cTitulo{
margin:0.5em auto;
width:26em;
}

#imageGif{
margin:0 auto;
width:737px;
height:353px;
padding:10px;
}

#TitleFoot{
color:white;
}

#Provider{
width: 100%;
height: 30em;
background:gray;

}
